<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="icon" type="image/png" href="{{ "/assets/img/favicon.png" | absolute_url }}"/>
  <link rel="stylesheet" href="{{ "/assets/css/flexboxgrid.min.css" | absolute_url }}"/>
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | absolute_url }}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body {% if layout.class %}class="{{ layout.class }}"{% endif %}>