html {
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: #171715;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
	&:hover {
		text-decoration: underline;
	}
}