html {
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: #161614;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
	&:hover {
		text-decoration: underline;
	}
}

.hidden {
	display: none;
}

.no-scroll {
	overflow: hidden;
	height: 100%;
}